{% for type,message in app.flashes %}
{% for message in message %}
<div class="alert alert-{{ type }} alert-dismissible fade show mt">
{{ message }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
</div>
{% endfor %}
{% endfor %}