<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="btn btn-outline.primary dropdown-toggle"
        href=""
        role="button"
        id="selectorIdioma"
        data-toggle="true">
        {{ idioma_actual }}
    </a>

    <div class="dropdown-menu" aria-labelledby="selectorIdioma">
        {% for lenguaje in nombre_lenguaje %}
            <a class="dropdown-item" href="{{ lenguaje.url }}">{{ lenguaje.nombre }}</a>
        {% endfor %}
    </div>

  </div>
