{% if app.user %}
    <div class="dropdown ml-2">
        <a class="btn btn-secondary dropdown-toggle"
            href=""
            id="closedSession"
            data-toggle="drop">
        </a>
    </div>


{% endif %}