{% if app.user %}
    <div class="dropdown ml-2">
        <a class="btn btn-secondary dropdown-toggle"
            href=""
            id="closedSession"
            data-toggle="dropdown">
            <span class="fa fa-user"></span>
            {{ app.user.username }}
        </a>
    </div>


{% endif %}