{% if app.user %}
    <div class="dropdown ml-2">
        <a class="btn btn-secondary dropdown-toggle"
            href=""
            id="closedSession"
            data-toggle="dropdown">
            <span class="oi oi-person"></span> {{ app.user.username }}
          
        </a>

        <div class="dropdown-menu ">
            <a class="dropdown-item" href="{{ path('app_logout') }}">
                {{ 'Logout'|trans }}
            </a>
         </div>
    </div>


{% endif %}