{% extends 'base.html.twig' %}

{% block contenedor_principal %}
  <form  method="POST">
         <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" value="{{category.name}}" id="nombre" name="nombre" placeholder="Nombre">
        </div>
  </form>
{% endblock %}

