{% extends 'base.html.twig' %}

{% block contenedor_principal %}
{%for type,message in app %}
  <form  method="POST">
         <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" value="{{category.name}}" id="nombre" name="nombre" placeholder="Nombre">
        </div>
        <div class="form-group">
            <label for="color">
                Color
            </label>
            <input type="color" class="form-control" value="" id="color" name="color" placeholder="Color">
        </div>
        <input type="hidden"  name="_token" value="{{ csrf_token('category') }}">
        <button type="submit" class="btn btn-ouline-success">Guardar</button>
  </form>
{% endblock %}

