{% extends 'base.html.twig' %}

{% block contenedor_principal %}
  <form  method="POST">
         <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" valueid="nombre" name="nombre" placeholder="Nombre">
  </form>
{% endblock %}

