{% extends 'base.html.twig' %}

{% block contenedor_principal %}

<h1 class="text-center">Listado de productos</h1>

<table class="table table-striped">
    <head>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </head>
{% endblock %}