{% extends 'base.html.twig' %}

{% block contenedor_principal %}

<h1 class="text-center">Listado de categorias</h1>

<table class="table table-striped">
    <head>
        <tr>
            <th>Nombre</th>
         
        </tr>
    </head>
    <body>
        {% for cate in productos %}
            <tr>
                <td>{{ producto.name }}</td>
            </tr>
        {% endfor %}
{% endblock %}