<div class="modal fade"
id="newTagModal"
role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
        </div>
    </div>
</div>